<!--main-filter-box-->
<div class="main-filter-box cnt-section">
	<div class="inner-wrap">
		<form action="/" class="form-inner-wrap">
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-field-title">Выберите кол-во дней</div>
					<div class="frm-field-ico">
						<div class="frm-ico">
							<img src="./img/icons/calendar-search.svg" alt="">
						</div>
						<input type="text" class="form-input" placeholder="">
					</div>
				</div>
				<div class="frm-field">
					<div class="frm-field-title">Выберите дату выезда</div>
					<div class="frm-field-ico">
						<div class="frm-ico">
							<img src="./img/icons/calendar.svg" alt="">
						</div>
						<input type="text" class="form-input" placeholder="">
					</div>
				</div>
				<div class="frm-field field-main">
					<div class="frm-field-title">Выберите город </div>
					<input list="brow" type="text" class="form-input form-input-select" placeholder="Выберите город">
					<datalist id="brow">
						<option value="Санкт-Петербург">
						<option value="Санкт-Петербург">
						<option value="Санкт-Петербург">
						<option value="Волгоград">
						<option value="Москва">
					</datalist>
				</div>
				<div class="frm-field field-button">
					<button type="submit" class="btn">
						<span class="button-title">Поиск тура</span>
						<span class="button-ico">
							<img src="./img/icons/arrow-button.svg" alt="">
						</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--/main-filter-box-->