
<!-- header -->
<header class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="location-wrap">
				<div class="header-info">
					<div class="elm-ico">
						<img src="./img/icons/point.svg" alt="">
					</div>
					<div class="info-title">г.&nbsp;Москва, Троилинский переулок д.3, офис&nbsp;408</div>
				</div>
			</div>
			<div class="contacts-wrap">
				<div class="phones-wrap">
					<div class="phone-wrap phone-mobile">
						<a href="tel:84953749465" class="header-info link-phone">
							<div class="elm-ico">
								<img src="./img/icons/phone.svg" alt="">
							</div>
							<div class="info-title">+7(495) <b>374-94-65</b></div>
						</a>
					</div>
					<div class="phone-wrap">
						<a href="tel:84957711028" class="header-info link-phone">
							<div class="elm-ico">
								<img src="./img/icons/phone.svg" alt="">
							</div>
							<div class="info-title">+7(495) <b>771-10-28</b></div>
						</a>
					</div>
				</div>
				<div class="email-wrap">
					<a href="mailto:arbattur@yandex.ru" class="header-info link-email">
						<div class="elm-ico">
							<img src="./img/icons/mail.svg" alt="">
						</div>
						<div class="info-title">arbattur@yandex.ru</div>
					</a>
				</div>
			</div>
			<div class="search-wrap js-popup-wrap">
				<a href="" class="btn-popup-toggle btn-action-ico ico-search js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="Какой тур вас интересует">
						<button type="submit" class="btn-action-ico ico-search"></button>
					</form>
				</div>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<span class="logo-title">Арбат-Тур</span>
					<span class="logo-text">туристическая компания</span>
				</a>
			</div>
			<div class="popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup-toggle btn-action-ico ico-menu js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<div class="menu-wrap">
						<ul class="menu">
							<li>
								<a href="">Автобусные туры</a>
							</li>
							<li>
								<a href="">Золотое кольцо</a>
							</li>
							<li>
								<a href="">Байкал</a>
							</li>
							<li>
								<a href="">Адыгея</a>
							</li>
						</ul>
					</div>
					<div class="phones-wrap">
						<div class="phone-wrap">
							<a href="tel:84953749465" class="link-phone">+7(495) <b>374-94-65</b></a>
						</div>
						<div class="phone-wrap">
							<a href="tel:84957711028" class="link-phone">+7(495) <b>771-10-28</b></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</header>
<!-- /header -->