<!--main-question-box-->
<div class="main-question-box cnt-section">
	<div class="inner-wrap">
		<div class="box-inner-wrap">
			<div class="title-inner-wrap">
				<div class="question-title">Возникли вопросы?</div>
			</div>
			<div class="right-inner-wrap">
				<div class="soc-inner-wrap">
					<div class="question-subtitle">Пишите <span class="title-span">и звоните в соцсети</span></div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-wa.svg" alt="">
							<span class="button-title">Whatsapp</span>
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-tg.svg" alt="">
							<span class="button-title">Telegram</span>
						</a>
					</div>
				</div>
				<div class="phones-inner-wrap">
					<div class="question-subtitle">Звоните <span class="title-span">по телефонам</span></div>
					<div class="phone-wrap">
						<a href="tel:84953749465" class="link-phone">+7(495) 374-94-65</a>
					</div>
					<div class="phone-wrap">
						<a href="tel:84957711028" class="link-phone">+7(495) 771-10-28</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/main-question-box-->