<!--main-question-box-->
<div class="main-question-box cnt-section">
	<div class="inner-wrap">
		<div class="box-inner-wrap">
			<div class="title-inner-wrap">
				<div class="question-title">Возникли вопросы?</div>
			</div>
			<div class="soc-inner-wrap">
				<div class="question-subtitle">пишите</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
				</div>
			</div>
			<div class="phones-inner-wrap">
				<div class="question-subtitle">звоните</div>
				<div class="phone-wrap">
					<a href="tel:84953749465" class="link-phone">+7(495) 374-94-65</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:84957711028" class="link-phone">+7(495) 771-10-28</a>
				</div>
			</div>
		</div>
	</div>
</div><!--/main-question-box-->